.homeWrap {
    width: 85%;
    height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.home {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccd5ae;
}

.homeCalendar {
    width: 95%;
    height: 95%;
}

.fc {
    width: 100%;
    height: 100%;
    background-color: white;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin: 0;
    height: 8%;
    box-sizing: border-box;
    padding: 0 1%;
}

.fc-toolbar-chunk {
    color: #ccd5ae;
}

.fc-button-group .fc-addScheduleBtt-button,
.fc-button-group .fc-deleteScheduleBtt-button {
    font-weight: 500;
}

.fc .fc-button-primary {
    background-color: #ccd5ae;
    border: 0;
}

.fc .fc-button-primary:disabled {
    background-color: #ccd5ae;
}

.fc-button-group {
    border: 0;
}

.fc-button-group .fc-today-button {
    font-weight: 500;
}

.fc .fc-daygrid-day-number {
    padding: 4px 6px;
    margin: 1%;

}

.fc-day-today .fc-daygrid-day-number {
    font-weight: bold;
    text-decoration: underline #606c38;

}

.fc-day-sun {
    color: #ff595e;
}

.fc-day-sat {
    color: #1982c4;
}

.fc-daygrid-event-harness>a[href] {
    pointer-events: none;
}

.fc-daygrid-day-frame:has(.fc-daygrid-event-harness>a[href]) {
    color: #ff595e;
}

.fc-daygrid-event-harness:has(a[href]) {
    display: flex;
    justify-content: end;
    padding: 0 2%;
    box-sizing: border-box;
    font-size: small;
}

:root {
   --fc-button-hover-bg-color: #606c38;
   --fc-button-active-bg-color: #606c38;
   --fc-today-bg-color: none;
}